@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;800&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
:root {
  --primary: #fdaaba;
  --accent: #eee8a9;
  --background: #fdfdfd;
  --background2: #d4f4ff;
  --accent2: #00deff;
  --black: #171717;
  --secondary: #80afdb;
  --background: #d4f4ff;
}
/*Navigation*/
.logo {
  width: 100%;
  max-width: 250px;
}

.navBar {
  padding: 32px 0;
}
.nav-link {
  margin-left: 41px;
}
.nav-link:hover {
  color: var(--primary);
}
/*about*/
.story{
  padding: 50px;
  background-color: var(--accent);
}
.our-story-text {
  position: relative;
  font-weight: 600;
}
.our-story-text::before{
  margin-left: -25px;
  content: "";
  display: block;
  width: 30%;
  background-color: var(--primary);
  height: 2px;
  position: absolute;
  left: 0;
  top: 50%;
}
.our-story-text::after{
  margin-right: -25px;
  content: "";
  display: block;
  width: 30%;
  background-color: var(--primary);
  height: 2px;
  position: absolute;
  right: 0;
  top: 50%;
}

.text{
  font-weight: 600;
}
/*customer*/
img{
  height: 100%;
  object-fit: cover;
}
.customer img{
  transition: all 0.3s ease;
}
.customer img:hover{
 transform: scale(1.10);
}
.service {
  background-color: var(--background);
}
/*owner*/
.owner{
  background-color: var(--primary);
}

/*Footer*/
.underline{
  display: inline-block;
  padding-bottom: 6px;
  position: relative;
}
.underline::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #fdaaba;
  transition: width 0.4s ease;
}
.underline:hover::before{
  width: 100%;
  right: auto;
}
/*Arrow up*/
.button-up {
  color: var(--primary);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.button-up.active {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(-20px);
}
.platform a {
  transition: all 0.3s ease;
  padding: 6px 10px;
  background-color: var(--accent);
  color: var(--black);
  border-radius: 10px;
}
.platform a i {
  font-size: 1.2rem;
}
.platform a:hover {
  transform: translateY(-10px);
}
footer {
  font-weight: 300;
}


